body{
    background: #352f5b;
    color: white;
}
.container{
    max-width: 400px;
}

.search{
    margin: 20px 0;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background-color: #423a6f;
    border: none;
    margin-bottom: 3px;
}
.delete{
    cursor: pointer;
    float: right;
}

.filtered{
    display: none !important;
}